mixin section(name, id, classes)
    #{name}(id=id, class=classes)
        .container
            .row
                block

mixin sectionFluid(name, id, classes)
    #{name}(id=id, class=classes)
        .container-fluid
            .row
                block

mixin link(href, name)
    a(href=href)&attributes(attributes)= name

mixin list(classes, ...items)
    ul(id=classes)
      each item in items
          li= item
