mixin section(name, classes)
    #{name}(class=classes)
        .container
            .row
                block

mixin sectionFluid(name, classes)
    #{name}(class=classes)
        .container-fluid
            .row
                block

mixin link(href, name)
    a(href=href)&attributes(attributes)= name

mixin list(classes, ...items)
    ul(id=classes)
      each item in items
          li= item

mixin navList(classes, ...items)
    ul(id=classes)
      each item in items
          li= item
